rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny catch-all
    match /{document=**} {
      allow read, write: if false;
    }

    // Global settings and properties CMS document
    match /settings/main {
      allow read: if true;
      allow write: if request.resource.data.adminPassword == "Ricardo19+";
    }

    // Contact submissions leads collection
    match /leads/{leadId} {
      allow create: if true; // Open to the public for submissions
      allow read, delete: if true; // Open for dashboard visualization
    }
  }
}
